.footer__items {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
    .footer__items {
        min-width: 1184px;
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer__items {
        min-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer__items {
        min-width: 720px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__items {
        width: 186px;
        margin-left: 16px;
        flex-direction: column;
    }
}