.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 1280px) {
    .lead {
        padding-top: 56px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .lead {
        padding-top: 48px;
    }
}