.footer__link {
    margin: 0;
    margin-right: 18px;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.footer__link:hover {
    transition: opacity 0.3s linear;
    opacity: 0.8;
}