.intro {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1280px) {
    .intro {
        min-width: 984px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        min-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
        min-width: 720px;
        padding-top: 88px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro {
        min-width: 288px;
        padding-top: 64px;
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        padding-top: 92px;
    }
}