.cover__title {
    margin: 0;
    font-style: normal;
    position: relative;
    z-index: 20;
    opacity: 1;
    font-style: normal;
    font-weight: 900;
    text-align: center;
}

@media screen and (min-width: 720px) {
    .cover__title {
        width: 560px;
        font-size: 72px;
        line-height: 76px;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover__title {
        width: 230px;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 0em;
        margin-bottom: 16px;
    }
}