.cover__title {
    margin: 0;
    font-style: normal;
    position: relative;
    width: 560px;
    height: 152px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin-bottom: 32px;
    z-index: 20;
    opacity: 1;
}